<!-- HTML https://developers.google.com/identity/gsi/web/guides/display-button#html -->
<html>
    <head>
        <div id="g_id_onload"
            data-client_id="689881769122-eok1c47akm356fe86bpaiqr9hmivn4m9.apps.googleusercontent.com"
            data-login_uri="https://your.domain/your_login_endpoint"
            data-native_login_uri="https://your.domain/your_password_login_endpoint">
        </div>
    </head>
  <body>
      <script src="https://accounts.google.com/gsi/client" async defer></script>
      <div id="g_id_onload"
         data-client_id="689881769122-eok1c47akm356fe86bpaiqr9hmivn4m9.apps.googleusercontent.com"
         data-login_uri="https://your.domain/your_login_endpoint"
         data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div>
  </body>
</html>